<div class="sidebar-left">
  <a class="logo" href="">
    <%= image_tag 'logo.png' %>
  </a>

  <%#= link_to 'Register', '#', class: 'register-link', data: { display_form: nil } %>
</div>
<div id="content">
  <div class="quote-overlay">
    <div class="quote-wrap">
      <div class="quote">
        <blockquote>
          Get early access<br />
          to our upcoming<br />
          redesigned platform.<br />
          Discover unique Art,<br />
          Furniture and Services.<br /><br />
          The World’s Finest.<br />
          All In One Place.
        </blockquote>
        <%= link_to 'REGISTER FOR EARLY ACCESS', '#', class: 'register-link', data: { display_form: nil } %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= form_tag registration_path, remote: true, class: 'contact-form' do %>

      <%= label_tag :name %>
      <%= text_field_tag :name %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>

      <%= submit_tag 'Submit', data: { submit: nil } %>

    <% end %>

    <p class="address-info">
      11 madison avenue<br>
      New York, NY 10010<br><br>
      <%= mail_to 'info@lidealist.com' %><br>
      <%= mail_to 'press@lidealist.com' %>
    </p>
  </div>
</div><!--end #content-->
